/.idea
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/js/*
/public/css/*
composer.dev.json
composer.dev.lock
.tool-versions
.php-cs-fixer.cache
/octo-core
/octo-billing
/public/storage
/wireui
.blueprint
/filament
